<div class="nav">
    <a routerLink="/about-us" class="nav__item"  routerLinkActive="nav__active">о нас</a>
    <a routerLink="/catalog/all" class="nav__item" routerLinkActive="nav__active">каталог</a>
    <a routerLink="/catalog/discount" class="nav__item" routerLinkActive="nav__active">акция</a>
    <a routerLink="/catalog/new" class="nav__item" routerLinkActive="nav__active">новинки</a>
    <a routerLink="/blog" class="nav__item" routerLinkActive="nav__active">блог</a>
    <a routerLink="/information" fragment="payment" class="nav__item" routerLinkActive="nav__active">оплата и доставка</a>
    <a routerLink="/contacts" class="nav__item" routerLinkActive="nav__active">контакты</a>
</div>