
<div id="payment" class="payment">
    <div id="delivery" class="container">
        <div class="payment__title">Условия оплаты и доставки</div>
        <div class="line"></div>
        <div class="payment__sub-title">Оплата</div>
        <ul class="payment__conditions">
            <li class="payment__conditions__item">- <b>Online-оплата:</b> оплата картой <div class="payment__conditions__image"><img src="../../../assets/images-temporary/master-visa.png" alt="image"></div> на сайте через систему Concord</li>
            <li class="payment__conditions__item">- <b>Наличными в магазине:</b> при самовывозе заказа из розничного магазина</li>
            <li class="payment__conditions__item">- <b>Наложенный платеж:</b> при получении товара в отделении Новой почты. Отдельно взимается комиссия за пересылку денег, которую оплачивает клиент.</li>
        </ul>
        <div class="payment__sub-title">Доставка</div>
        <ul class="payment__conditions">
            <li class="payment__conditions__item">- <b>Доставка Новой Почтой:</b> осуществляется по всей территории Украины в течение 1-5 дней по тарифам перевозчика. Срок хранения посылки на отделении Новой Почты 5 дней, после чего она будет возвращена отправителю. Повторная отправка возможна только в случае полной оплаты заказа с учетом стоимости первой доставки.</li>
            <li class="payment__conditions__item">- <b>Самовывоз:</b> в розничных магазинах Week
                <ul class="payment__conditions__adress">
                    <li class="payment__conditions__adress__item">г. Днепр, пр. Дмитрия Яворницкого 46</li>
                    <li class="payment__conditions__adress__item">г. Днепр, бульвар Звездный 1а ТРЦ «ДАФИ»</li>
                    <li class="payment__conditions__adress__item">г. Одесса, ул. Екатерининская 29</li>
                    <li class="payment__conditions__adress__item">г. Киев, пр. Оболонский, 1Б ТРЦ «Dream Town»</li>
                    <li class="payment__conditions__adress__item">г. Киев, ул. Антоновича, 176 ТРЦ "Ocean Plaza"</li>
                    <li class="payment__conditions__adress__item">г. Львов, ул.Руська, 12</li>
                </ul>
            </li>
            <li class="payment__conditions__item">- <b>Доставка в другие страны:</b> осуществляется Укрпочтой или другими транспортными службами. Условия доставки заказов за пределы Украины обсуждаются с клиентами в индивидуальном порядке.</li>
        </ul>
        <div class="payment__free-shipping">
            <div class="payment__free-shipping__title">Доставка заказов на сумму от 750 грн – БЕСПЛАТНО!</div>
            <div class="payment__free-shipping__text">Если у вас остались вопросы по условиям оплаты и доставки товаров, пожалуйста, обращайтесь к нашим менеджерам: <a class="telephone" href="tel:+380938975627">093  897  56  27</a> или <a class="telephone" href="tel:+380938975627">067  897  56  27</a></div>
        </div>
    </div>
</div>
<div id="return-exchange" class="return-exchange">
    <div class="container">
        <div class="return-exchange__title">ОБМЕН И ВОЗВРАТ</div>
        <div class="line"></div>
        <div class="return-exchange__text">Согласно ст.9 Закона Украины «О защите прав потребителя» товары, приобретенные в интернет-магазине Week.life, подлежат обмену и возврату в течение 14 дней, в случаях:</div>
        <ul class="return-exchange__conditions">
            <li class="return-exchange__conditions__item">- если клиенту не подошел фасон, размер, цвет или он не удовлетворён качеством товара</li>
            <li class="return-exchange__conditions__item">- товар не был в употреблении и никаким образом не использовался</li>
            <li class="return-exchange__conditions__item">- сохранена фирменная упаковка товара, включая ярлыки и бирки</li>
            <li class="return-exchange__conditions__item">- товар находится в том же состоянии, что и в момент покупки, без каких-либо повреждений и дефектов</li>

        </ul>
        <div class="return-exchange__text">Обращаем ваше внимание, что в течение 14 дней обмену и возврату не подлежат следующие категории товаров без видимых дефектов:</div>

        <ul class="return-exchange__conditions">
            <li class="return-exchange__conditions__item">- перчатки</li>
            <li class="return-exchange__conditions__item">- белье нательное</li>
            <li class="return-exchange__conditions__item">- чулочно-носочные изделия</li>
        </ul>

        <div class="return-exchange__text">Мы на 100% уверены в качестве товара, который производим, поэтому на всю продукцию CATWALK <b>действует продленная гарантия более 60 дней!</b></div>
        <div class="return-exchange__text">В случае если вы соблюдали все рекомендации по уходу, но при этом обнаружили качества, которые негативно влияют на внешний вид товара, пожалуйста, сообщите нам. Мы гарантировано обменяем товар, устраним дефект за свой счет или компенсируем его стоимость.</div>

        <div class="return-exchange__text attention">Компания CATWALK берет на себя все затраты по пересылке товара в случае обмена, возврата или гарантийного обслуживания!</div>

    </div>
</div>
<div id="size-grid" class="size-grid">
    <div class="container">
        <div class="size-grid__title">Таблица резмеров</div>
        <div class="line"></div>
        <div class="size-grid__text">Чтобы товары CATWaLK дарили только положительные эмоции, а процесс покупки был максимально комфортным, пожалуйста, перед началом выбора товара определите свой размер. Обращаем ваше внимание, что для маркировки одежды Week используется европейская размерная сетка.</div>
        <div class="size-grid__image-table">
            <img class="size-grid__image" src="../../../assets/images-temporary/sizeguide-clothes.jpg" alt="photo">
            <img class="size-grid__image" src="../../../assets/images-temporary/shoes-table.jpg" alt="photo">
            
        </div>

        <div class="size-grid__sub-title middle">Рекомендации по определению размера и выбору товара</div>

        <div class="size-grid__text">Измерить собственные параметры довольно просто. Для этого понадобится обычная сантиметровая лента и большое зеркало.</div>
        <ul class="return-exchange__conditions">
            <li class="return-exchange__conditions__item">- <b>обхват груди:</b> лента должна пройти по наиболее выступающим точкам груди, под подмышечными впадинами и по спине;</li>
            <li class="return-exchange__conditions__item">- <b>обхват талии:</b> измеряется окружность в наиболее узком месте;</li>
            <li class="return-exchange__conditions__item">- <b>обхват бедер:</b> ленту располагают строго параллельно полу, но при этом она должна пройти по наиболее выступающим точкам ягодиц.</li>
            <li class="return-exchange__conditions__item">- <b>длинна стопы:</b> расположите стопу на листе бумаги и обведите ее, держа ручку или карандаш перпендикулярно листу. Отметьте на контуре две самые выступающие точки (пятки и носок). Измерьте сантиметровой линейкой расстояние между точками.</li>

        </ul>
        

    </div>
</div>

