<div class="container">
    <div class="contacts__title">Свяжись с нами любым удобным для себя способом!</div>
    <div class="contacts__grid">
        <div class="contacts__grid_col">
            <div class="contacts__grid__title"><span class="test">Телефон</span><fa-icon class="icon" [icon]="faPhoneAlt"></fa-icon></div>
            <div class="phone-numbers">
                <div class="footer-item__link"><a href="tel:+380938975627">093 - 897 - 56 - 27</a></div>
                <div class="footer-item__link"><a href="tel:+380938975627">067 - 897 - 56 - 27</a></div>
            </div>
        
        </div>
        <div class="contacts__grid_col">
            <div class="contacts__grid__title"><span class="test">E-mail</span><fa-icon class="icon" [icon]="faEnvelope"></fa-icon></div>
            <div class="email-addreses">
                <div class="footer-item__link"><a href="mailto:abc@gmail.com">abc@gmail.com</a></div>
                <div class="footer-item__link"><a href="mailto:xyz@gmail.com">xyz@gmail.com</a></div>
            </div>
        </div>
        <div class="contacts__grid_col">
            <div class="contacts__grid__title"><span class="test">Skype</span><fa-icon class="icon" [icon]="faSkype"></fa-icon></div>
            <div class="skype-logins">
                <div class="footer-item__link"><a href="skype:+1234567890?call">catwalkdress</a></div>
                <div class="footer-item__link"><a href="skype:+1234567890?call">laura-catwalk</a></div>
            </div>
        </div>
    </div>
</div>
<div class="contacts__image"><img class="contacts__photo" src="../../../assets/images-temporary/contacts.jpg" alt=""></div>
