<div class="container">
    <h2 class="basket__title">Оформление заказа</h2>
    <div class="basket__grid">
        <form [formGroup]="myForm" novalidate (ngSubmit)="submit()" class="basket__grid__col">
           <div class="basket__region">
               <div class="basket__region__name">Выберите регион доставки:</div>
               <mat-form-field appearance="fill">
                <mat-label>Выберите город</mat-label>
                <mat-select >
                  <mat-option (click)="user.city = city.value" *ngFor="let city of cities" [value]="city.value" >
                    {{city.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
           </div>
           <div class="basket__post-office">
                <div class="basket__post-office__name">Выберите номер отделения Новой почты:</div>
                <mat-form-field appearance="fill">
                    <mat-label>Выберите отделение</mat-label>
                    <mat-select >
                      <mat-option (click)="user.postoffice = post.value" *ngFor="let post of postoffices" [value]="post.value" >
                        {{post.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
           </div>
            <form class="basket__username">
                <mat-label class="basket__username__name"> Имя: </mat-label >
                <mat-form-field  class = "example-full-width"> 
                     
                    <input autocomplete="off" formControlName="userFirstName" matInput  placeholder = "Введите имя" (keyup)="getUserData('firstname', $event)" > 
                </mat-form-field >
                <div class="alert alert-danger"
                            *ngIf="myForm.controls['userFirstName'].invalid && myForm.controls['userFirstName'].touched">
                            Не указано имя
                </div>
            </form>
            <form class="basket__username">
                <mat-label class="basket__username__name"> Фамилия: </mat-label >
                <mat-form-field  class = "example-full-width"> 
                        
                    <input autocomplete="off" formControlName="userLastName" matInput  placeholder = "Введите фамилию" (keyup)="getUserData('lastname', $event)" > 
                </mat-form-field >
            </form>
            <form class="basket__email">
                <mat-label class="basket__email__name">Электронная почта: </mat-label >
                    <mat-form-field appearance="fill">
                        <mat-label>Введите email</mat-label>
                        <input autocomplete="off" matInput placeholder="pat@example.com" formControlName="userEmail"  (keyup)="getUserData('email', $event)">
                        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
            </form>
            <div class="basket__post-office">
                <div class="basket__payment__name">Выберите форму оплаты:</div>
                <mat-form-field appearance="fill">
                    <mat-label >Наличные / карта</mat-label>
                    <mat-select >
                      <mat-option (click)="checkPayment(payment)" *ngFor="let payment of payments" [value]="payment.value"  >
                        {{payment.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
           </div>

            <button [disabled]="myForm.invalid" mat-button (click)="openDialog()" (click)="clearCounter()" class="send-order">Оформить заказ</button>

        </form>
        
        
        

        <div class="basket__grid__col">
            <div class="goods">
                <div class="goods__header">
                    <div class="goods__header_grid-col goods__counter">1 <span>товар</span></div>
                    <div class="goods__header_grid-col goods__title">Количество</div>
                    <div class="goods__header_grid-col goods__title">Цена</div>
                </div>
                <div *ngFor="let good of allGoods" class="goods__card">
                    <div class="goods__card_grid-col">
                        <div class="good__image-block"><img class="good__photo" src="{{good.image}}" alt="photo"></div>
                        <div class="good__information">
                            <div class="good__name">{{good.name | titlecase}}</div>
                            <div class="good__size"><span>Размер:  </span>{{good.size}}</div>
                        </div>
                    </div>
                    <div class="goods__card_grid-col">
                        <div *ngIf="good.quantity > 1" (click)="minusGood(good)" class="good__addless">-</div>
                        <div *ngIf="good.quantity == 1" class="good__nominus"></div>
                        <div class="good__quantity">{{good.quantity}}</div>
                        <div (click)="plusGood(good)" (click)="inc()" class="good__addmore">+</div>

                    </div>
                    <div class="goods__card_grid-col">
                        <div class="good__price">
                            <div class="good__price__count">
                                <div *ngIf="good.sale" class="good__price__old">{{good.allprice}}<span>.00</span></div>
                                <div *ngIf="!good.sale" class="good__price__new">{{good.allprice}}<span>.00</span></div>
                                <div *ngIf="good.sale" class="good__price__new">{{getDiscount(good.allprice, .3)}}<span>.00</span></div>
                            </div>
                            <div (click)="deleteGood(good)" class="good__delete"><fa-icon [icon]="faTrashAlt"></fa-icon></div>
                        </div>
                    </div>
                    
                </div>
                <div class="goods__footer">
                    <div class="goods__total-price__title">Итого:</div>
                    <div class="goods__total-price">{{sum}}<span>.00 грн</span></div>
                </div>
                <div class="goods__total-discount">
                    <div class="goods__total-discount__title">(Вы экономите:</div>
                    <div class="goods__discount">{{discountsum}}<span>.00 грн)</span></div>
                </div>
            </div>
            
        </div>
    </div>
</div>            

                


                
            
