<div class="container">
    <h2 class="container__title">История Catwalk</h2>
    <div class="container__line"></div>
    <div class="container__main-photo"><img class="main-photo__image" src="../../../assets/images-temporary/about-us/store-3.jpeg" alt="photo"></div>
    <div class="container__text">История бренда CATWALK началась в 2010 году. Несколько молодых и талантлевых дизайнеров из Киева, Днепра и Львова встетились на Ukrainian Fashion Week. Их объединили общая мечта - создавать качественный украинский продукт. Продукт, который не будет уступать мировым брендам по качеству и который сможет себе позволить каждая девушка.
        <p class="paragraph">Для воплощения новой идеи имелось все необходимое: опыт дизайнеров, которые до этого разрабатывали коллекции для иностранных брендов, налаженное собственно производство и самое главное - желание шить модную, удобную и доступную одежду.</p>
    </div>
    <div class="container__looks_look-one"><img class="look-one__image" src="../../../assets/images-temporary/about-us/look-3.jpg" alt="photo"></div>
    <div class="container__text">Мы стремились добиться совершенства в каждой детали, поэтому с самого начала создавали все вещи с особой любовью и душевным теплом. Первые партии одежды под брендом CATWALK были представлены в небольшом шоу-руме.
        <p class="paragraph">С каждым днем у нас появлялось все больше Друзей, которые приходили к нам за модными трендами и хорошим настроением.</p>
        <p class="paragraph">Но хотелось большего - чтобы модели, одетые в одежду нашего бренда, ходили по улицам Нью-Йорка или Милана.</p>
    </div>
    <div class="container__looks">
        <div class="looks-item"><img class="look-one__image" src="../../../assets/images-temporary/about-us/look-1.jpg" alt="photo"></div>
        <div class="looks-item"><img class="look-one__image" src="../../../assets/images-temporary/about-us/look-2.jpg" alt="photo"></div>
    </div>
    <div class="container__text">CATWALK сейчас находится на этапе роста и развития. Мы открываем новые магазины в разных городах Украины и постпенно движемся к осущесвлению своей мечты - выйти на мировой подиум!
        
    </div>

</div>
