<div class="container">
 <!-- <app-filters [goodsFiltered]="goods"></app-filters> -->
    <div class="main-content">
        <div *ngIf="goodsFiltered" class="main-content__sorting">
            <mat-form-field appearance="fill">
                <mat-label>Сортировать от</mat-label>
                <mat-select (selectionChange)="getByPrice($event)">
                  <mat-option *ngFor="let filter of filterValue" [value]="filter.value">
                    {{filter.viewValue}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
                <mat-paginator *ngIf="goodsFiltered.length > 20" [length]="goodsFiltered.length"
                                [pageSize]="pageSize"
                                (page)="getPaginatorData($event)">
                </mat-paginator>
        </div>
        <div class="main-content__cards">
            <div *ngFor="let good of goodsFiltered | slice: lowValue : highValue" class="main-content__cards__item">
                <a routerLink="/catalog/good/{{good.id}}"><app-card [goodInfo]="good" class="main-content__cards__card"></app-card></a>
            </div>
            
        </div>
        <div *ngIf="goodsFiltered" class="wrap">
            <div *ngIf="!goodsFiltered.length" >
                <div class="error__card">
                    <div class="error-text">По Вашему запросу товаров не найдено</div>
                    <img class="error-image" src="../../../assets/images-temporary/good-not-found.jpg" alt="image">
                </div>

            </div>
            <mat-paginator *ngIf="goodsFiltered.length > 20" [length]="goodsFiltered.length"
                [pageSize]="pageSize"
                (page)="getPaginatorData($event)">
            </mat-paginator>
        </div>
    </div>

</div>

