<div class="container">
    <div class="blog__item">
        <div class="blog__item__image">
            <img class="blog__item__photo" src="{{blog.image.origin}}" alt="photo">
        </div>
        <div class="blog__description">
            <div class="blog__description__date">{{blog.date}}</div>
            <div class="blog__description__title">{{blog.name}}</div>
            <div class="blog__description__text">{{blog.text}}</div>
            <div class="blog__description__buttons">
                <button class="blog__description__button"><a routerLink="/blog">Вернуться в блог</a></button>
            </div>
        </div>
    </div>
    <div class="goods-slider">
        <div class="goods-slider__title">Вам может понравиться</div>
        <div class="goods-slider__line"></div>

        <div class="goods-slider__carousel-block">
            <carousel class="goods-slider__carousel" [loop]="true" [cellsToShow]="'4'" [width]="'100%'" [height]="'500'">
                <div class="carousel-cell">
                    <a routerLink="/catalog/good/{{goodsSlider[0].id}}"><app-card [goodInfo]="goodsSlider[0]"></app-card></a>
                </div>
                <div class="carousel-cell">
                    <a routerLink="/catalog/good/{{goodsSlider[1].id}}"><app-card [goodInfo]="goodsSlider[1]"></app-card></a>
                </div>
                <div class="carousel-cell">
                    <a routerLink="/catalog/good/{{goodsSlider[2].id}}"><app-card [goodInfo]="goodsSlider[2]"></app-card></a>
                </div>
                <div class="carousel-cell">
                    <a routerLink="/catalog/good/{{goodsSlider[3].id}}"><app-card [goodInfo]="goodsSlider[3]"></app-card></a>
                </div>
                <div class="carousel-cell">
                    <a routerLink="/catalog/good/{{goodsSlider[4].id}}"><app-card [goodInfo]="goodsSlider[4]"></app-card></a>
                </div>
                <div class="carousel-cell">
                    <a routerLink="/catalog/good/{{goodsSlider[5].id}}"><app-card [goodInfo]="goodsSlider[5]"></app-card></a>
                </div>
                <div class="carousel-cell">
                    <a routerLink="/catalog/good/{{goodsSlider[6].id}}"><app-card [goodInfo]="goodsSlider[6]"></app-card></a>
                </div>
                <div class="carousel-cell">
                    <a routerLink="/catalog/good/{{goodsSlider[7].id}}"><app-card [goodInfo]="goodsSlider[7]"></app-card></a>
                </div>
            </carousel>
        </div>

    </div>

</div>
